@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Cinzel&family=Righteous&display=swap');


html {
    font-size: 62.5%;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h1 {
    padding-top: 60px;
}

p {
    text-align: center;  
}





