$font:'Amatic SC';
$p_font:"Cinzel", serif;
$primary-color: #eed3b6;
$secundary-color: rgb(226, 208, 182);
$button-color: transparent; 


$texts:
"h1"    120px   lighter rgb(104, 74, 74) $font
"h2"    60px    inherit  rgb(64, 99, 87)  $font    
"h3"    30px    bolder  rgb(182, 92, 92)
"p"     20px            rgb(177, 88, 177) $p_font      







