@import "../variables";
@import "../utilities/mixin";




footer{
    height: 80px;
    background-color: $secundary-color;
    color: rgb(45, 66, 24);
    font-weight: lighter;
    font-size: 30px;
    font-family: 'Righteous';
    @include center-content();
    .footer__cont{
        padding: 10px;
    }
}


